body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.piece-content, .piece-comment {
    font-size: 22px;
    margin-bottom: 10px;
}

.piece-comment {
    font-size: 17px;
    color: #999;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.piece-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}

.piece-keyword {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.piece-keyword-container {
    margin-top: 15px;
    margin-bottom: 15px;
}