@(query: String, result: String)

@main(query) {
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Knowledge -base</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>

                    <li>
                        <form id="searchform" class="navbar-form navbar-right" action="/search">
                            <select name="type" class="form-control" form="searchform">
                                <option value="body:content" selected>body:content</option>
                                <option value="body:title">body:title</option>
                                <option value="code">code</option>
                                <option value="code:java">code:java</option>
                                <option value="code:ruby">code:ruby</option>
                                <option value="code:sh">code:sh</option>
                                <option value="keyword">keyword</option>
                                <option value="comment">comment</option>
                                <option value="url:title">url:title</option>
                                <option value="url:link">url:link</option>
                            </select>

                            <input type="text" name="query" class="form-control" value="@query" placeholder="Search...">
                        </form>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <p class="lead" id="result">@Html(result)</p>
        </div>
    </div>
}
